<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166550185827-8cmu4jtdq95cq4rqnnld6lkfva0gin04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166550185827-8cmu4jtdq95cq4rqnnld6lkfva0gin04</string>
	<key>API_KEY</key>
	<string>AIzaSyAcCxLOUAO7uu8v-fUQajRE6AvHPQZB_70</string>
	<key>GCM_SENDER_ID</key>
	<string>166550185827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anitha.Wido</string>
	<key>PROJECT_ID</key>
	<string>wido-98662</string>
	<key>STORAGE_BUCKET</key>
	<string>wido-98662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166550185827:ios:941833ff0fa3ba845b1556</string>
</dict>
</plist>